@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

a {
  -webkit-tap-highlight-color: transparent;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  column-gap: 15px;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.75em;
  padding: 5px 5px;
  transition: 250ms ease-in-out;
}

ul li a:hover {
  color: #777777;
}

.intro {
  text-align: center;
  max-width: 700px;
  margin: 300px auto;
  font-size: 0.9em;
  color: #777777;
  line-height: 1.4em;
  padding: 0 30px;
}

.projects {
  display: grid;
  padding: 35px;
  gap: 35px;
  place-items: center;
}

.project {
  cursor: pointer;
  aspect-ratio: 1/1;
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  width: 100%;
  transition: 300ms ease-in-out;
  will-change: transform;
  user-select: none;
}

.project-desc {
  color: #777777;
  font-weight: 600;
  font-size: 0.75em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  transition: 300ms ease-in-out;
  will-change: transform;
  opacity: 0;
}

.project-img-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
  will-change: transform;
  perspective: 1000px; /* Added for 3D effect */
  pointer-events: none;
  user-select: none;
}

.project:hover > .project-desc {
  transform: translateY(65px) translateX(0);
  opacity: 1;
}

.project:hover {
  background-color: #dedede;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
}

.project:hover > .project-img-container > .project-img {
  transform: translateY(-40px) rotateY(25deg) translateX(-40px) scale(0.9); /* Added 3D rotation + shift */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.project:hover > .github-btn-container {
  opacity: 0.6;
  background-color: #777;
}

.project:hover > .share-btn-container {
  opacity: 0.6;
  background-color: #777;
}

.project-img {
  transform: translateY(-40px);
  width: 410px;
  aspect-ratio: 16/8;
  border-radius: 3px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  transform-style: preserve-3d;
  user-select: none;
}

.github-btn-container {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
  border-radius: 5px;
  will-change: transform;
}

.github-btn-container:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  background-color: #ffffff !important;
}

.github-btn {
  width: 25px;
  height: 25px;
}

.share-btn-container {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 45px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
  border-radius: 5px;
  will-change: transform;
}

.share-btn-container:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  background-color: #ffffff !important;
}

.share-btn {
  width: 25px;
  height: 25px;
}

.project-info {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
  font-size: 0.9em;
  color: #999999;
}

.project-title {
  font-weight: 600;
}

.extro {
  text-align: center;
  max-width: 700px;
  margin: 300px auto;
  font-size: 0.9em;
  color: #777777;
  line-height: 1.4em;
  padding: 0 30px;
}

footer {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  text-align: center;
  font-size: 0.75em;
  color: #777777;
}

.get-in-touch-button {
  color: #555555;
  font-size: 0.9em;
  border: none;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  padding: 14px 20px;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 300ms ease-in-out;
  will-change: transform;
}

.get-in-touch-button:hover {
  background-color: #555555;
  color: #ffffff;
  scale: 1.025;
}

.project.transform > .project-desc {
  transform: translateY(65px) translateX(0);
  opacity: 1;
}

.project.transform {
  background-color: #dedede;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
}

.project.transform > .project-img-container > .project-img {
  transform: translateY(-40px) rotateY(25deg) translateX(-40px) scale(0.9); /* Added 3D rotation + shift */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.project.transform > .github-btn-container {
  opacity: 0.6;
  background-color: #777;
}

.project.transform > .share-btn-container {
  opacity: 0.6;
  background-color: #777;
}

@media (min-width: 50px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-img {
    width: 320px;
  }
}

@media (min-width: 480px) {
  .project-img {
    width: 410px;
  }
}

@media (min-width: 1050px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1150px) {
  .project {
    max-width: unset;
  }
}

@media (min-width: 1500px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .project {
    max-width: unset;
  }
}
